<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="./fragments/head.html" />
<body>
<div class="row" style="display:flex ; justify-content:center">
  <div class="col-sm-6 mb-3 mb-sm-0  border border-5">
    <div class="card">
      <div class="card-body" >
        <h5 class="card-title">Le resultat du recherche est: </h5>
        <p class="card-text" th:text="${nomTemplate} + ' !'"></p>
        <p class="card-text" th:text="${coordinates0[0]} + ' !'"></p>
        <p class="card-text" th:text="${coordinates0[1]} + ' !'"></p>
        <a th:href="@{./adresses}" class="btn btn-primary btn btn-info">Go to adresses</a>
      </div>
    </div>
  </div>
  </div>
  
  <table class="table table-danger table-striped">
    <thead>
      <tr>
        <th class="table-info" scope="col">latitude</th>
        <th class="table-info" scope="col">longitude</th>
        <th class="table-info" scope="col">tmin</th>
        <th class="table-info" scope="col">tmax</th>
        <th class="table-info" scope="col">datetime</th>
        <th class="table-info" scope="col">weather</th>
        <th class="table-info" scope="col">sun_hours</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="item : ${forecast}" class="table table-bordered border-primary">
        <td th:text="${item.latitude}"></td>
        <td th:text="${item.longitude}"></td>
        <td th:text="${item.tmin}"></td>
        <td th:text="${item.tmax}"></td>
        <td th:text="${item.datetime}"></td>
        <td th:text="${item.weather}"></td>
        <td th:text="${item.sun_hours}"></td>
      </tr>
    </tbody>
  </table>
  </body>

</html>